@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Galano Grotesque;
  src: url(./fonts/Galano\ Grotesque.otf);
}

@font-face {
  font-family: Galano Grotesque Semibold;
  src: url(./fonts/Galano\ Grotesque\ Semi\ Bold.otf);
}

@font-face {
  font-family: Galano Grotesque Medium;
  src: url(./fonts/Galano\ Grotesque\ Medium.otf);
}

.font-galano {
  font-family: Galano Grotesque;
}

.font-galano-semibold {
  font-family: Galano Grotesque Semibold;
}

.font-galano-medium {
  font-family: Galano Grotesque Medium;
}

.tooltip {
  padding: 3px 6px !important;
}
